<h1>Listing openings</h1>

<table border="2" width="100%">
  <tr>
    <th width="25%">Technology</th>
    <th width="25%">Skillset</th>
    <th width="25%">Jobtitle</th>
    <th width="25%">Experience</th>
    
  </tr>

<% @openings.each do |opening| %>
  <tr>
    <td><%= opening.technology %></td>
    <td><%= opening.skillset %></td>
    <td><%= opening.jobtitle %></td>
    <td><%= opening.experience %></td>
    </tr>
<% end %>
</table>

<br />

<%= link_to 'New Opening', new_opening_path %>
