<h1>Applicants</h1>

<table width="100%" border="2">
  <tr>
    <%#*<th></th>%>
    <th></th>
    <th></th>
    <th width="10%">Firstname</th>
    <th width="10%">Lastname</th>
    <th width="10%">Email</th>
    <th width="10%">Mobile</th>
    <th width="10%">Dob</th>
    <th width="10%">Gender</th>
    <th width="10%">Country</th>
    <th width="10%">Skills</th>
    <th width="10%">Covernote</th>
    <th width="10%">Resume</th>
    
  </tr>

<% @careers.each do |career| %>
  <%  save_path= Rails.root.join("#{career.resume}") %>
  
  <tr align="center">
    <%#*<td><%= link_to 'Show',career_path(career.id) %</td>%>
    <td><%= link_to 'Edit', edit_career_path(career.id)%></td>
    <td><%= link_to 'Delete'%></td>
    <td><%= career.firstname %></td>
    <td><%= career.lastname %></td>
    <td><%= career.email %></td>
    <td><%= career.mobile %></td>
    <td><%= career.dob %></td>
    <td><%= career.gender %></td>
    <td><%= career.country %></td>
    <td><%= career.skills %></td>
    <td><%= career.covernote %></td>
    <td><%= link_to 'Download ', "#{save_path}" %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Applicant', new_career_path %>
